.contact{
    .contact_heading{
      display: flex;
      flex-direction: column;
      width: 60%;
      .contact_head, .contact_text{
        padding-bottom: 40px;
      }
    }
  }

.contact{
  .contact_text{
    padding-bottom: 40px;
    width: 60%;
    line-height: 1.5;
    color: #a0a0a0;
  }
}

.contact{
  .border{
    @extend %border-style;
    margin-bottom: 60px;

  }
}

.contact {
  .form {
    display: flex;
    text-align: center;
    margin-bottom: 110px;
    .your_contact,{
      display: flex;
      padding-bottom: 45px;
      input:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

.contact{
  .form{
    .message{
      display: flex;
      flex-direction: column;
      padding-right: 110px;
      width: 60%;
    }
  }
}

.contact{
  .contact_head{
    padding-bottom: 40px;
    font-size: 40px;
    text-transform: uppercase;
    color: $heading-color;
    font-weight: 600;
  }
}

.contact{
  .contact_wrapper{
    input{
      background: #e5e5e5;
      border-radius: 5px;
      border-color: transparent;
      padding: 15px 20px 15px 65px;
      margin-right: 60px;
    }
  }
}

.contact{
  .contact_wrapper{
    textarea{
      max-width: 710px;
      width: 100%;
      height: 250px;
      background: #e5e5e5;
      border-color: transparent;
      border-radius: 5px;
      margin-bottom: 45px;
    }
  }
}

textarea::placeholder{
  padding-left: 60px;
  padding-top: 30px;
  font-size: 15px;
}

.contact{
  .btn_4{
@extend %button-style;
   background: $main-color;
    color: white;
    text-decoration: none;
    padding: 28px;
    max-width: 710px;
    width: 100%;
    margin-bottom: 110px;
  }
}

.contact{
  .contact_wrapper{
  .form{
    .message{
      .btn_4:hover{
          @include button(white,$main-color);
          box-shadow: 0 0 10px 0 $main-color inset, 0 0 10px 4px $main-color;
      }
    }
  }
  }
}

.contact{
  .contact_wrapper{
    .contact_info{
      width: 100%;
      background: #2d2d2d;
      height: 468px;
      display: flex;
      align-items: center;
    }
  }
}

.contact{
  .data{
    padding-bottom: 45px;
    display: flex;
    width: 60%;
  }
}

.contact_info{
  .contact_info_wrapper{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 50px;
  }
}

.contact_info{
  .info{
    color: #e0e0e0;
    font-size: medium;
    text-transform: uppercase;
    padding-bottom: 45px;
  }
}

.contact_info{
  .info_text{
    color: $text-color;
    line-height: 1.5;
  }
}

.contact_info{
  .info_text_2{
    padding-bottom: 30px;
    color: $text-color;
    line-height: 1.5;
  }
}

.contact_info{
  a{
    text-decoration: none;
    color: $text-color;
    padding-bottom: 35px;
  }
}
 .contact_info{
   span{
     color: $text-color;
   }
 }