@media (max-width: 1250px) {
  .block_info {
    .images_wrapper {
      div {
        img {
          height: 190px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .block_info {
    .images_wrapper {
      div {
        img {
          height: 167px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .block_info {
    .lorem {
      text-align: center;
      max-width: 550px;
    }
  }

  .block_info_wrapper {
    .info_heading {
      text-align: center;
    }
  }

  .block_info {
    .border {
      width: 100%;
    }
  }

  .block_info {
    .large_img {
      flex-wrap: wrap;
      text-align: center;
      align-items: center;

      .img {
        width: 100%;
        margin-right: 0;
      }
    }
  }


  .block_info {
    .social-network_info {
      width: 100%;
      padding-top: 40px;
    }
  }
}

@media (max-width: 480px) {
  .block_info{
    display: flex;
    flex-direction: column;

  }


}