
@media (max-width: 1250px ) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
  }
}






