%button-style{
  border-radius: 5px;
  border-color: $main-color;
}

%block-style{
  width: 50%;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 30px;
  padding-right: 10px;
  flex-direction: column;
}

%display{
  display: flex;
  justify-content: center;
}

%tit{
  text-transform: uppercase;
  font-size: 70px;
  font-weight: bold;
  color: #000000;
}

%border-style{
  width: 130px;
  height: 2px;
  background: $main-color;
}