*{
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}

 nav {
   @extend %display;
   list-style: none;
   background: #313030;
   menu {
     display: flex;
     list-style: none;
   }
 }


header{
  background: $background;
  padding: 30px 0 100px;
  nav{
    menu{
      a{
        text-decoration: none;
      }
    }
  }
}

header{
  menu{
    li:not(:last-child){
      padding-right: 30px;
    }
  }
}

header{
  nav{
    menu{
      .dropdown:hover {
        background: $main-color;
      }
    }
  }
}

h1{
  text-transform: uppercase;
  font-size: 70px;
  font-weight: bold;
  padding-bottom: 30px;

}




nav{
  menu{
    li{
      padding: 30px 30px;
    }
  }
}

header{
  .dropdown_item{
    color: #ececec;
  }
}
